<HTML>
    <BODY bgcolor="gray">
    <form method="POST" action="">
        <center>
        <H1>Enter New Owner Info</H1> <br>
        Username <input type = "text" name= "ip_username" /> <br>
        First Name <input type = "text" name= "ip_first_name" /> <br>
        Last Name <input type = "text" name = "ip_last_name" /> <br>
        Address <input type = "text" name = "ip_address" /> <br>
        Birthdate <input type = "text" name = "ip_birthdate" /> <br>
        <input type = "submit">
        </center>
    </form>
    </BODY>
</HTML>