<HTML>
    <BODY bgcolor="gray">
    <form method="POST" action="">
        <center>
        <H1>Enter new employee</H1> <br>
        Username <input type = "text" name= "ip_username" /> <br>
        First Name <input type = "text" name= "ip_first_name" /> <br>
        Last Name <input type = "text" name = "ip_last_name" /> <br>
        Address <input type = "text" name = "ip_address" /> <br>
        Birthdate <input type = "text" name = "ip_birthdate" /> <br>
        
        taxID <input type = "text" name= "ip_taxID" /> <br>
        hired <input type = "text" name = "ip_hired" /> <br>
        Employee Experience <input type = "text" name = "ip_employee_experience" /> <br>
        Salary <input type = "text" name = "ip_salary" /> <br>
        <input type = "submit">
        </center>
    </form>
    </BODY>
</HTML>