
<HTML>
    <BODY bgcolor= #82CAFF>
    <a href="/" style="display: inline-block; margin-top: 20px; padding: 10px 20px; background: #007BFF; color: white; text-decoration: none; border-radius: 5px;">Back to Main Page</a>
    <form method="POST" action="">
        <center>
        <H1>Enter Figure Information</H1> <br>
        Figure_Id  <input type = "text" name= "ip_figure_id" /> <br>
        <br>
        Details  <input type = "text" name= "ip_Details" /> <br>
        <br>
        Price  <input type = "number" name = "ip_Price" /> <br>
        <br>
        Quantity  <input type = "number" name = "ip_Quantity" /> <br>
        <br>
        Quantity Sold  <input type = "number" name = "ip_Quantity_Sold" /> <br>
        <br>
        <input type = "submit">
        </center>
    </form>
    </BODY>
</HTML>