
<HTML>
    <BODY bgcolor= #82CAFF>
    <a href="/" style="display: inline-block; margin-top: 20px; padding: 10px 20px; background: #007BFF; color: white; text-decoration: none; border-radius: 5px;">Back to Main Page</a>
    <H1>Restock Figure</H1> <br>
    <form method="POST">
        <center>
        Figure_Id <input type = "text" name= "sl_figure_id" /> <br>
        Quantity <input type = "number" name = "sl_Quantity" /> <br>
        <br><br>
        <button type="submit" name="button1">Add Value (a)</button>
        <button type="submit" name="button2">Update Value (w)</button>
        </center>
    </form>
    </BODY>
</HTML>