<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <a href="/" class="back-button">Back to Main Page</a>
    <center>
        <h1>RESTOCK FIGURE</h1>
    </center>
    <br>
    <form method="POST">
        <center>
            <label for="sl_figure_id">Figure Id:</label>
            <input type="text" name="sl_figure_id" id="sl_figure_id" class="input-field" /> <br><br>
            <label for="sl_Quantity">Quantity:</label>
            <input type="number" name="sl_Quantity" id="sl_Quantity" class="input-field" /> <br><br>
            <button type="submit" name="action" value="add" class="action-button">Add Quantity (a)</button>
            <button type="submit" name="action" value="update" class="action-button">Update Quantity (w)</button>
        </center>
    </form>
</body>
</html>