
<HTML>
    <BODY bgcolor= #82CAFF>
    <!-- <a href="/" style="display: inline-block; margin-top: 20px; padding: 10px 20px; background: #007BFF; color: white; text-decoration: none; border-radius: 5px;">Back to Main Page</a> -->
    <form method="POST" action="">
        <center>
        <H1>Sell Figure</H1> <br>
        Figure_Id  <input type = "text" name= "sl_figure_id" /> <br>
        <br>
        Quantity   <input type = "number" name = "sl_Quantity" /> <br>
        <br>
        <input type = "submit">
        </center>
    </form>
    </BODY>
</HTML>